apiVersion: v1
kind: Secret
metadata:
  name: environment-secrets
type: Opaque
data:
  databaseUser: cGd1c2Vy
  databasePassword: UGFzc3dvcmQxMjNA
  wmioIntegrationUser: c3RlcGhhbmUudGFsbGFuZA==
  wmioIntegrationPassword: NT1UaHJlZStUd28=