apiVersion: v1
kind: ConfigMap
metadata:
  name: environment-config
data:
  wmioIntegrationUrl: "https://env167883.int-aws-de.webmethods.io"
  kafkaServerList: ""
  databaseServerName: ""
  databaseServerPort: ""
  databaseName: ""
